.bienvenida{
    display: flex;
    justify-content: center;
    width: 100%;
}

.todo{
    margin-top: 80px;
    width: min(1280px,100%);
    height: calc(100vh - 80px);
    overflow-y: hidden;
}

.todo section{
    scroll-snap-align: start;
    height: 100%;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo section::-webkit-scrollbar {
    display: none;
}

.todo .texto{
    display: flex;
    flex-direction: column;
    overflow-y: visible;
}

.todo section .imagen{
    display: flex;
    align-items: center;
    margin: 50px;
    padding: 20px;
    background: rgb(0,151,178);
    background: linear-gradient(90deg, rgba(0,151,178,1) 0%, rgba(89,142,200,1) 100%);
    border-radius: 24px;
}

.todo section img {
    height: 30vh;
    width: 100%;
    object-fit: contain;
}

.todo a, button.bot{
    text-decoration: none;
    padding: 1rem;
    border: 0.15rem var(--color) solid;
    color: black;
    border-radius: 14px;
    text-align: center;
}

.todo a:hover, button.bot:hover{
    color: #e5e3df;
    background-color: var(--color);
}

a,p{
    margin-top: 1rem;
}

.cerdo{
    transform: translateX(0) translateY(0);
}
.mensaje{
    margin: 1rem;
}


@media only screen and (max-width: 600px){
    .todo section {
        flex-direction: column;
    }
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, button, select{
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
}

.hidden {
    display: none;
}
div.cotiza{
    margin: auto;
    margin-bottom: 5rem;
}
