/*Acordeon*/

label{
    color: #D27730;
    font-size: 3rem;
    font-weight: bold;
}
label:hover{
    cursor: pointer;
}
p{
    font-size: 1.2rem;
}

.acordeon .menua{
    padding: 0px;
    margin: 0px 20px;
    max-height: 0px;
    overflow: hidden;
}

.picado:checked ~ .menua{
    max-height: 600px;
    padding: 15px 0px;
    transition: all 300ms ease;
}

.picado:checked ~ label{
    color: #018BA0;
}

.picado{
    display: none;
}

.cont{
    justify-content: center;
    width:min(600px,100%);
}

/*Frame */
main{
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
    padding: 30px;
    width: 50%;
}
aside{
    width: 50%;
}
iframe{
    width: 100%;
    height: 100vh;
    background-color: #e5e3df;
}
body{
    height: 100%;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}
